@model SAT.DATA.EF.StudentStatus

@{
    ViewBag.Title = "Delete: " + Model.SSName;
}

<div class="card card-body max800 drop">
    <h2 class="text-center pb-2">@ViewBag.Title</h2>
    <div class="divCenter">
        <dl class="dl-horizontal">
            <div class="p-5">
                <dd>
                    <span class="font-weight-bold pr-2">Status Name:</span>  @Html.DisplayFor(model => model.SSName)
                </dd>
                <dd>
                    <span class="font-weight-bold pr-2">Description:</span>   @Html.DisplayFor(model => model.SSDescription)
                </dd>
            </div>
            <h3 class="text-center text-danger">Are you sure you want to delete: <span class="font-italic"> @Model.SSName</span>?</h3>
        </dl>
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color text-center">
            <input type="submit" value="Yes" class="btn btn-primary btn80" />
            @*@Html.ActionLink("No", "Index", "StudentStatuses", new { @class = "btn btn-primary btn80" })*@
            <a href="javascript:void(0);" onclick="history.go(-1);" class="btn btn-primary btn80">No</a>
        </div>
    }
</div>
