@using Microsoft.AspNet.Identity

<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
        <a class="sidebar-brand-t brand-logo" href="@Url.Action("Index", "Home")"><img src="~/Content/assets/images/Logo.png" alt="logo" /></a>
        <a class="sidebar-brand brand-logo-mini" href="@Url.Action("Index", "Home")"><img src="~/Content/assets/images/Logo.png" alt="logo" class="mini" /></a>
    </div>
    <ul class="nav mt-5">
        @if (Request.IsAuthenticated)
        {
            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
            {
                @Html.AntiForgeryToken()

                <li class="nav-item menu-items">
                    <a class="nav-link" href="@Url.Action("Index","Manage")">
                        <span class="menu-icon"><i class="mdi mdi-settings"></i></span>
                        <span class="menu-title">Settings</span>
                    </a>
                </li>
                <li class="nav-item menu-items">
                    <a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">
                        <span class="menu-icon"><i class="mdi mdi-logout"></i></span>
                        <span class="menu-title">Log Off</span>
                    </a>
                </li>
            }
        }
        else
        {
            <li class="nav-item menu-items">
                <a class="nav-link" href="@Url.Action("Register","Account")">
                    <span class="menu-icon"><i class="mdi mdi-account-plus"></i></span>
                    <span class="menu-title">Register</span>
                </a>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" href="@Url.Action("Login","Account")">
                    <span class="menu-icon"><i class="mdi mdi-login"></i></span>
                    <span class="menu-title">Login</span>
                </a>
            </li>
        }
        <li class="nav-item nav-category">
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="@Url.Action("Index", "Home")">
                <span class="menu-icon">
                    <i class="mdi mdi-speedometer"></i>
                </span>
                <span class="menu-title">Home</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="@Url.Action("Index", "Students")">
                <span class="menu-icon">
                    <i class="mdi mdi-contacts"></i>
                </span>
                <span class="menu-title">Students</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="@Url.Action("Index", "Courses")">
                <span class="menu-icon">
                    <i class="mdi mdi-laptop"></i>
                </span>
                <span class="menu-title">Courses</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="@Url.Action("Index", "ScheduledClasses")">
                <span class="menu-icon">
                    <i class="mdi mdi-table-large"></i>
                </span>
                <span class="menu-title">Scheduled Classes</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="@Url.Action("Index", "Enrollments")">
                <span class="menu-icon">
                    <i class="mdi mdi-table-large"></i>
                </span>
                <span class="menu-title">Enrollments</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="@Url.Action("Index", "StudentStatus")">
                <span class="menu-icon">
                    <i class="mdi mdi-security"></i>
                </span>
                <span class="menu-title">Student Statuses</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="@Url.Action("About", "Home")">
                <span class="menu-icon">
                    <i class="mdi mdi-security"></i>
                </span>
                <span class="menu-title">Documentation</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="~/Content/assets/Documentation_SAT.pdf" download>
                <span class="menu-icon">
                    <i class="mdi mdi-security"></i>
                </span>
                <span class="menu-title">Download Documentation</span>
            </a>
        </li>

    </ul>
</nav>