@model SAT.DATA.EF.Enrollment

@{
    ViewBag.Title = "Details for : " + Model.Student.FullName;
}



<div class="card card-body p-5 max800 drop">
    <h2 class="text-center pb-4">@ViewBag.Title</h2>
    <div class="divCenter">
        <dl class="dl-horizontal p-5">
            <dd>
                <span class="font-weight-bold pr-2">Name:</span> @Html.DisplayFor(model => model.Student.FullName)
            </dd>
            <dd>
                <span class="font-weight-bold pr-2">Enrollment Date:</span> @Html.DisplayFor(model => model.EnrollmentDate)
            </dd>
            <dd>
                <span class="font-weight-bold pr-2">Instructor:</span> @Html.DisplayFor(model => model.ScheduledClass.InstructorName)
            </dd>
        </dl>
        <div class="form-group">
            <div class="col-md-12 pt-3 text-center">
                @Html.ActionLink("Edit", "Edit", "Enrollments", new { id = Model.EnrollmentId }, new { @class = "btn btn-primary btn80" })
                @Html.ActionLink("Delete", "Delete", "Enrollments", new { id = Model.EnrollmentId }, new { @class = "btn btn-primary btn80" })
                @*@Html.ActionLink("Return", "Index", "Enrollments", new { @class = "btn btn-primary btn80 mr-0" })*@
                <a href="javascript:void(0);" onclick="history.go(-1);" class="btn btn-primary btn80 mr-0">Return</a>
            </div>
        </div>
    </div>
</div>
